* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5eadc;
    font-family: system-ui, sans-serif;
}

/* Navbar */
.navbar {
    background: #9d8a6f;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 112px;
}

.navbar h1 {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Container */
.auth-container {
    width: 360px;
    margin: 120px auto;
    position: relative;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 73px;
    position: absolute;
    top: -35px;
    left: 0px;
}

.tab {
    z-index: 4;
    padding: 12px 26px;
    font-size: 30px;
    border: none;
    border-radius: 16px 16px 0 0;
    background: #cbbda9;
    color: #444;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.25s ease;
}

.tab:not(.active):hover {
    transform: translateY(-6px);
    opacity: 0.9;
}


/* Active tab */
.tab.active {
    z-index: 6;
    font-size: 30px;
    background: white;
    color: black;
    transform: translateY(2px);
}

/* Card */
.card {
    position: relative;
    background: white;
    border-radius: 22px;
    padding: 28px 24px;
    height: 320px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.18);
    overflow: hidden;
    z-index: 5;
}

.result {
    position: relative;
    top: 15px;
    background: white;
    border-radius: 22px;
    padding: 28px 24px;
    height: 80px;
    display: none;
    box-shadow: 0 12px 32px rgba(0,0,0,0.18);
    overflow: hidden;
    z-index: 6;
}

.explanationUser {
    position: relative;
    top: 15px;
    background: white;
    display: none;
    border-radius: 22px;
    padding: 28px 24px;
    height: 300px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.18);
    overflow: hidden;
    z-index: 7;
}
.explanation {
    position: relative;
    top: 15px;
    background: white;
    display: none;
    border-radius: 22px;
    padding: 28px 24px;
    height: 300px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.18);
    overflow: hidden;
    z-index: 7;
}


.valid {
    color: #009345;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

/* Add a red text color and a sad face when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✗";
}

/* for the optional number, hyphen, and underscore in username signup field */
.opt {
    color: #6E6050;
}

.opt:before {
    position: relative;
    left: -10px;
    content: "-";
}

/* Forms */
.form {
    position: absolute;
    inset: 28px 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    opacity: 0;
    transform: translateY(18px) scale(0.97);
    z-index: 0;

    transition:
        opacity 0.15s ease,
        transform 0.15s ease;
}

/* Active form */
.form.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    z-index: 1;
}

/* Inputs */
input {
    padding: 12px 16px;
    border-radius: 22px;
    border: none;
    background: #eee;
    font-size: 14px;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid #009345;
}

/* show/hide password */
.toggle {
    margin-top: -28px;
    position: relative;
    top: -15px;
    left: 280px;
    display: inline; 
    margin-left: -1.5%; 
    vertical-align: middle;
    z-index: 7;
    opacity: 0.5;
    cursor: pointer;
}

.toggle:hover {
    opacity: 1;
}

/* Buttons */
button {
    padding: 12px;
    border-radius: 22px;
    border: none;
    background: #AB947A;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
.footer {
    background: #27221C;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
