name: Deploy to Remote SSH Server

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH key
        env:
          DEPLOY_PRIVATE_KEY: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
        run: |
          # create .ssh directory, ignoring errors if it exists
          mkdir -p ~/.ssh

          # create the id_rsa file in that directory, placing the private key secret in that file
          printf "%s" "$DEPLOY_PRIVATE_KEY" > ~/.ssh/id_rsa

          # append extra newline just in case
          echo "" >> ~/.ssh/id_rsa

          # change permissions for that file such that only the action runner can read/write, with no permissions for anyone else
          chmod 600 ~/.ssh/id_rsa
          
          # get the public key of the server and add it to known hosts (prevents confirmation prompt when uploading via ssh)
          ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts

      - name: Sync files to remote server
        env:
          REMOTE_USER: ${{ secrets.DEPLOY_USER }}
          REMOTE_HOST: ${{ secrets.DEPLOY_HOST }}
          REMOTE_PATH: /var/www/html
        run: |
          rm -rf .git
          scp -rp . "${REMOTE_USER}@${REMOTE_HOST}:${REMOTE_PATH}"
